* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

nav {
  background-color: #000;
  height: 2.45rem;
  width: 100vw;
}

.whole {
  background-color: green;
  width: 100vw;
  max-width: 1600px;
  margin: auto;
}

/* STARTING THE HEADING*/

.heading {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3.92rem 0;
}

.heading header {
  font-size: 2.5rem;
  font-weight: 900;
}

.heading p {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 14px;
}

.heading button {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: large;
}

/* ENDING THE HEADING AND STARTING THE FASHION BLOG*/

.fashion-blog {
  background-color: brown;
  background: url("../images/cover.png");
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100vmax;
  max-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.fashion-blog .text1 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.fashion-blog .text2 {
  font-size: 4rem;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
}

.fashion-blog button {
  width: fit-content;
  font-size: large;
  font-weight: 650;
  background-color: #ada8a8;
  border: none;
  padding: 15px 10px;
}

/* ENDING THE FASHION BLOG AND STARTING THE SUB WHOLE > COLUMN1 .BOX1*/

.sub-whole {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.column1 .box1 {
  background-color: brown;
  padding:  2rem 1rem;
  margin-bottom: 2rem;
}

.column1 .box1 > header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
}

.column1 .box1 .title {
  text-align: center;
  font-weight: 550;
}

.column1 .box1 .title span {
  font-size: 19px;
  padding: 0;
  color: #d3d3d3;
}

.column1 .box1 img {
  width: 100%;
}

.column1 .box1 p > span {
  font-size: large;
  font-weight: 600;
}

.box-likes {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-likes button:nth-child(1) {
  background: none;
  border: 0.5px solid #000;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.box-likes button:nth-child(1):hover {
  background-color: #d3d3d3;
}

.box-likes button:nth-child(2) {
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.box-likes button:nth-child(2):hover {
  background-color: #808080;
  color: #000;
}

.box-likes button:nth-child(2) span {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
}

.column1 .box1 hr {
  margin: 2.5rem 0 1.5rem;
  border: 1px solid #808080;
}

.box-footer {
  background-color: purple;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.box-footer img {
  width: 100px;
}

/* ENDING BOX1 AND STARTING BOX2*/

.column1 .box2 {
  background-color: brown;
  padding:  2rem 1rem;
  margin-bottom: 2rem;
}

.column1 .box2 > header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 550;
}

.column1 .box2 .title {
  text-align: center;
  font-weight: 550;
}

.column1 .box2 .title span {
  font-size: 19px;
  padding: 0;
  color: #d3d3d3;
}

column1 .box2 img {
  width: 100%;
}

.box2 p > span {
  font-size: large;
  font-weight: 600;
}

/* ENDING COLUMN1 AND STARTING COLUMN2*/